@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'fira regular';
  src: url('./fonts/FiraSans-Regular.ttf');
}

@font-face {
  font-family: 'fira medium';
  src: url('./fonts/FiraSans-Medium.ttf');
}

@font-face {
  font-family: 'fira semibold';
  src: url('./fonts/FiraSans-SemiBold.ttf');
}

@font-face {
  font-family: 'fira bold';
  src: url('./fonts/FiraSans-Bold.ttf');
}

@font-face {
  font-family: 'fira extrabold';
  src: url('./fonts/FiraSans-ExtraBold.ttf');
}

/* 
   Custom Scroll Bar
         */
/* Internet Explorer */
html {
  overflow-x: hidden;
  scrollbar-width: normal;
  scrollbar-color: #eb01ea #800190;
  scroll-behavior: smooth !important;
}

/* For chrome and related browsers */
html::-webkit-scrollbar {
  width: 1.2vw;
}

html::-webkit-scrollbar-button {
  background-color: #e8d2a6;
}

html::-webkit-scrollbar-track {
  background-color: #e8d2a6;
}

html::-webkit-scrollbar-thumb {
  background-color: #800190;
  border-radius: 0.5vw;
  border: 0.26vw solid #e8d2a6;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #eb01ea;
}
